/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


body {
  text-align: center;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-image: url("https://vlad-hilea.com/valentine-assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #f900ff14;
  position: fixed;
  top: 0;
}

#valentineVideo {
  width: auto;
  max-height: 55vh;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #f764ae, #ed57a8, #ef6f8d, #ef7398);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.6), 0 0 50px rgba(255, 20, 147, 0.5);
  padding: 10px;
  display: block;
  margin: 10px auto;
}

.button {
  font-size: 16px;
  font-weight: 800;
  padding: 10px 25px;
  margin: 10px;
  background: pink;
  color: deeppink;
  outline: none;
  border-radius: 10px;
  border: 2px solid deeppink;
  text-transform: uppercase;
  transition: all 0.5s ease;

}

#noButton {
  position: absolute;
  top: 85%;
  left: calc(50% + 20px);
}

#yesButton {
  position: absolute;
  top: 85%;
  left: calc(50% - 120px);
}

#yesButton:hover {
  background: deeppink;
  color: pink;
  border: 1px solid pink;
  text-transform: uppercase;
  cursor: pointer;

}

.text-title {
  font-size: 4.7vw;
  color: #e57fe7;
  letter-spacing: .2rem;
  text-shadow: 0 1px 0 #ffd6ff, 0 4px 0 #db66db, 0 4px 0 #c959c9, 2px 3px 0 #b74cb7, 0 2px 0 #a33fa3;
  margin: 0;
  font-family: "Imperial Script", serif;
  font-weight: 700;
  font-style: normal;
}

.text-subtitle {
  font-size: 3vw;
  color: #e57fe7;
  letter-spacing: .1rem;
  text-shadow: 0 1px 0 #ffd6ff, 0px 3px 0 #db66db, 0 5px 0 #c959c9, 0 5px 0 #b74cb7, 0 5px 0 #a33fa3;
  margin: 0;
  font-family: "Mogra", serif;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
  width: 100%;
}


.title-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  background: pink;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}

.footer-text {
  color: #e6768a;
  letter-spacing: 1px;
}

.footer-text a {
  color: #cd6cbb;
}

.second-part-title {
  font-size: 4.7vw;
  color: #e57fe7;
  letter-spacing: .2rem;
  text-shadow: 0 1px 0 #ffd6ff, 0 4px 0 #db66db, 0 4px 0 #c959c9, 2px 3px 0 #b74cb7, 0 2px 0 #a33fa3;
  margin: 0;
  font-family: "Imperial Script", serif;
  font-weight: 700;
  font-style: normal;
}

.second-part-subtitle {
  font-size: 2.7vw;
  color: #e57fe7;
  letter-spacing: .2rem;
  text-shadow: 0 1px 1px #ffd6ff, 0 1px 0px #db66db, 0 1px 0 #c959c9, 0 2px 0 #b74cb7, 0 4px 0 #a33fa3;
  margin: 0;
  font-family: "Mogra", serif;
  font-weight: 700;
  font-style: normal;
}

.second-part-text {
  font-size: 1.5vw;
  color: pink;
  margin: 20px;
  font-family: "Titan One", serif;
  font-weight: 400;
  font-style: normal;
  color: #5b0e59;

}

.final-mesaj {
  margin: 0 auto;
}

.back-vid {
  z-index: 1000;
  position: absolute;
  top: 10px;
}

@media only screen and (max-width: 768px) {

  .no-text-shadow {
    text-shadow: none !important;
  }

  /* Style adjustments for viewports that meet the condition */
  .text-title {
    font-size: 10vw;
    margin: 20px 10px 10px 10px;
    text-shadow: 0 1px 0 #ffd6ff, 0 4px 0 #db66db, 0 4px 0 #c959c9, 2px 3px 0 #b74cb7, 0 2px 0 #a33fa3;
  }

  .text-subtitle {
    font-size: 6vw;
    color: #e57fe7;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #ffd6ff, 0 1px 0 #db66db, 0 2px 0 #c959c9, 0 3px 0 #b74cb7, 0 4px 0 #a33fa3;
    margin: 25px 20px;
  }

  #valentineVideo {
    width: auto;
    max-height: 45vh;
    margin: 20px auto;
  }

  footer {
    z-index: 99;
  }

  #noButton {
    position: absolute;
    bottom: 85%;
    left: 50%;
    height: 46px;
    z-index: 100;
  }

  #yesButton {
    position: absolute;
    top: 85%;
    left: 25%
  }

  .second-part-title {
    font-size: 10vw;
    margin-top: 10px;
  }

  .second-part-subtitle {
    font-size: 6vw;
    color: #e57fe7;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #ffd6ff, 0 1px 0 #db66db, 0 2px 0 #c959c9, 0 3px 0 #b74cb7, 0 4px 0 #a33fa3;
    margin: 10px 20px;
  }

  .second-part-text {
    font-size: 4.5vw;
    margin: 20px;
  }
}